In [1]:
5+6

11

In [2]:
1500+494

1994

In [3]:
900/7

128

In [4]:
500-200

300

In [5]:
11%3

2

In [6]:
0.5*3

1.5

In [7]:
2+3

5

<h2> Variables <h2>

In [2]:
x = 3

In [3]:
y = 5

In [4]:
x+y

8

In [5]:
r = input("r: ")

r: 5

In [6]:
type(x)

int

In [8]:
pi = 3.14

In [9]:
type(pi)

float

In [11]:
type(r)

int

In [13]:
r*pi*2

31.400000000000002

<h2> Strings <h2>

In [14]:
a = "hello world"

In [15]:
print(a)

hello world

In [16]:
x = "hello"

In [17]:
type(x)

str

In [18]:
len(x)

5

<h2>escape characters<h2>

In [20]:
print("hello \npython")

hello
python

In [21]:
print("hello \tpython")

hello 	python

In [22]:
my_string = "Hello World!"

In [23]:
my_string[4] #indexing

'o'

In [24]:
my_string[0:4] #last index not inclusive

'Hell'

In [27]:
my_string[-2]

'd'

In [28]:
my_string = "1234567"

In [29]:
my_string[0]

'1'

In [30]:
my_string[:4]

'1234'

In [31]:
my_string[2:5]

'345'

In [34]:
my_string[::3]

'147'

<h2>Variable Attributes<h2>

In [37]:
my_name = "gunther"

In [38]:
my_name.capitalize()

'Gunther'

In [39]:
my_name = "Gunther Leason"

In [41]:
splitted_name = my_name.split()

In [42]:
splitted_name[0]

'Gunther'

In [43]:
my_name.upper()

'GUNTHER LEASON'

In [44]:
"james"*10*10

'jamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjames'

In [89]:
my_name.lower()

'gunther leason'

#Strings are immutable - Cannot be changed once instantiated without creating a new instance

In [50]:
my_list = [5,4,5,6,7,8]

In [51]:
my_list[3] = 7

In [52]:
print(my_list) # Lists are mutable

[5, 4, 5, 7, 7, 8]

In [53]:
my_list.append(7)

In [54]:
print(my_list)

[5, 4, 5, 7, 7, 8, 7]

In [55]:
"rongchen".capitalize()  #creates a new object. Doesn't write over the original string

'Rongchen'

In [57]:
my_list = ['Tig','Cig', 7, 8, 9] # Can have mixed data types

In [60]:
type(my_list[2])

int

In [62]:
my_list_1 = ["a", "b", "c"]
my_list_2 = ["d", "e", "f"]

In [63]:
my_list_1 + my_list_2

['a', 'b', 'c', 'd', 'e', 'f']

In [64]:
my_list_1*3

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

In [65]:
my_list_1.reverse()

In [66]:
print(my_list_1)

['c', 'b', 'a']

<h2>Nested Lists<h2>

In [68]:
new_list = [1,4,'a']

In [69]:
new_list = [1,3,[1,3,4,5,6]]

<h2> Dictionaries <h2>

In [70]:
dic = {'Rotunda' : 120, 'Cappechi' : 130, 'Rockstar' : 90}

In [71]:
dic.keys()

['Rotunda', 'Cappechi', 'Rockstar']

In [72]:
dic.values()

[120, 130, 90]

In [76]:
#Iterate over key, value pairs

for key, val in dic.iteritems():
    print("Key :"+key+", Value: "+str(val))

Key :Rotunda, Value: 120
Key :Cappechi, Value: 130
Key :Rockstar, Value: 90

In [77]:
dic = {'Rotunda' : [120,30,40,50], 'Cappechi' : [90,50,20,30], 'Rockstar' : [90,50,20,100]}

In [79]:
dic.keys()

['Rotunda', 'Cappechi', 'Rockstar']

In [82]:
dic.values()

[[120, 30, 40, 50], [90, 50, 20, 30], [90, 50, 20, 100]]

In [83]:
#Dicts are mutable
#replace value for key

dic['Rotunda'] = [90,30,100,20]

In [85]:
#Replace key name 
dic['Tunguska'] = dic.pop('Rotunda')

In [86]:
print(dic)

{'Tunguska': [90, 30, 100, 20], 'Cappechi': [90, 50, 20, 30], 'Rockstar': [90, 50, 20, 100]}

In [87]:
#Append a new key,value pair

dic['CasuMarzu'] = [20, 30, 40, 60, 80]

In [88]:
print(dic)

{'Tunguska': [90, 30, 100, 20], 'Cappechi': [90, 50, 20, 30], 'CasuMarzu': [20, 30, 40, 60, 80], 'Rockstar': [90, 50, 20, 100]}

<h3>Sets<h3>

In [90]:
my_list = [1,2,3,1]

In [94]:
#Sets are mutable

In [92]:
set(my_list)

{1, 2, 3}

In [93]:
type(my_list)

list

In [96]:
my_set = set(my_list)

In [97]:
my_set.add(4)

In [98]:
my_set.remove(4)

In [99]:
my_set.pop() #Randomly remove an element

1

<h3>Tuples<h3>

In [112]:
my_list = ["a", 1, "c"]

In [113]:
my_list[0] = "b"

In [114]:
my_list

['b', 1, 'c']

In [115]:
#Tuples are also immutable

In [116]:
my_tuple = tuple(my_list)

In [118]:
my_tuple.count(1) # How many elements with integer value 1

1

In [119]:
my_tuple.index(1) #Index of where the element of int val 1 is located

1